@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.intro-div button, .header-right-side .member-btn {
  background-image: linear-gradient(to right, #3A52F1, #A026FD);
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.featured-div .featureds .featured-right-side .card h1, .featured-div .featureds .featured-left-side div h1, .header-right-side a, header .header-left-side ul li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.featured-div .featureds .featured-right-side .card h1::after, .featured-div .featureds .featured-left-side div h1::after, .header-right-side a::after, header .header-left-side ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #3A52F1, #A026FD);
  transition: width 0.3s ease;
}
.featured-div .featureds .featured-right-side .card h1:hover::after, .featured-div .featureds .featured-left-side div h1:hover::after, .header-right-side a:hover::after, header .header-left-side ul li:hover::after {
  width: 100%;
}

.intro-div button, .header-right-side .member-btn {
  background-image: linear-gradient(to right, #3A52F1, #A026FD);
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.featured-div .featureds .featured-right-side .card h1, .featured-div .featureds .featured-left-side div h1, .header-right-side a, header .header-left-side ul li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.featured-div .featureds .featured-right-side .card h1::after, .featured-div .featureds .featured-left-side div h1::after, .header-right-side a::after, header .header-left-side ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #3A52F1, #A026FD);
  transition: width 0.3s ease;
}
.featured-div .featureds .featured-right-side .card h1:hover::after, .featured-div .featureds .featured-left-side div h1:hover::after, .header-right-side a:hover::after, header .header-left-side ul li:hover::after {
  width: 100%;
}

.intro-div button, .header-right-side .member-btn {
  background-image: linear-gradient(to right, #3A52F1, #A026FD);
  border: none;
  color: white;
  padding: 15px 35px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.featured-div .featureds .featured-right-side .card h1, .featured-div .featureds .featured-left-side div h1, .header-right-side a, header .header-left-side ul li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.featured-div .featureds .featured-right-side .card h1::after, .featured-div .featureds .featured-left-side div h1::after, .header-right-side a::after, header .header-left-side ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #3A52F1, #A026FD);
  transition: width 0.3s ease;
}
.featured-div .featureds .featured-right-side .card h1:hover::after, .featured-div .featureds .featured-left-side div h1:hover::after, .header-right-side a:hover::after, header .header-left-side ul li:hover::after {
  width: 100%;
}

body {
  background-color: #100f15;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 5% 30px 5%;
}
header .header-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}
header .header-left-side ul {
  color: white;
  list-style: none;
  display: flex;
  gap: 20px;
}
.header-right-side {
  display: flex;
  align-items: center;
  gap: 25px;
  color: white;
}
.header-right-side i:hover {
  color: rgb(49, 49, 255);
}
.intro-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20% 30px 20%;
  color: white;
  gap: 40px;
  text-align: center;
}
.intro-div .intro-upper-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.intro-div h1 {
  font-size: 55px;
}
.intro-div h1 span {
  background: linear-gradient(to right, #3A52F1, #A026FD);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-div h3 {
  font-size: larger;
  padding: 0 10% 0 10%;
}
.intro-div button {
  font-size: larger;
}

.featured-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}
.featured-div p {
  color: white;
  font-size: x-large;
  font-weight: bold;
}
.featured-div .featureds {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.featured-div .featureds .featured-left-side div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #17171C;
  border-radius: 20px;
  border: 1px solid rgb(54, 54, 54);
  padding: 20px;
  gap: 20px;
  width: 750px;
}
.featured-div .featureds .featured-left-side div img {
  border-radius: 10px;
}
.featured-div .featureds .featured-left-side div button {
  background-color: #2C1627;
  border: 1px solid #CF077F;
  color: white;
  padding: 5px 0px;
  border-radius: 20px;
  width: 70px;
}
.featured-div .featureds .featured-left-side div button:hover {
  background-color: #492541;
}
.featured-div .featureds .featured-left-side div h1 {
  color: white;
}
.featured-div .featureds .featured-left-side div h4 {
  color: white;
  font-weight: normal;
  font-size: larger;
}
.featured-div .featureds .featured-left-side div a img {
  width: 30px;
  border-radius: 50%;
}
.featured-div .featureds .featured-right-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.featured-div .featureds .featured-right-side .card {
  flex-grow: 1;
  gap: 10px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #17171C;
  padding: 10px;
  width: 600px;
  border-radius: 15px;
  border: 1px solid rgb(54, 54, 54);
  gap: 15px;
}
.featured-div .featureds .featured-right-side .card .card-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.featured-div .featureds .featured-right-side .card .card-right button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  background-color: #1D1F33;
  border-radius: 15px;
  font-size: medium;
  border: 1px solid #242d89;
  color: white;
}
.featured-div .featureds .featured-right-side .card img {
  width: 200px;
  border-radius: 10px;
}
.featured-div .featureds .featured-right-side .card h1 {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */